:root {
    --square-dim: max(min(30vh, 8vw), 10px);/*34px;*/
}
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row {
    width: calc(var(--square-dim) * 3);
}
.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    /* Is it possible for calc() to return a negative number? */
    font-size: max(calc(var(--square-dim) - 10px), 5px);/*24px;*/
    font-weight: bold;
    line-height: var(--square-dim);
    height: var(--square-dim);
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: var(--square-dim);
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.about {
    padding: 1em;
}